.site-overview {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.overview-section {
    width: 100%;
    height: min(86vh, calc(100vh - 100px));
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.overview-side {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: min(max(16px, calc(8px + 2vw)), 60px);
}

#overview-logo {
    width: 80%;
}

.welcome-text {
    font-size: 0.6em;
    width: 80%;
}

.overview-headers {
    width: 80%;
    font-size: 1em;
}

.overview-full-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#overview-request-container {
    position: relative;
    width: 100%;
    height: 100%;
    color: white;
}

#overview-request-image-container {
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.4);
}

#overview-request-image-container img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -5;
}

#overview-request-overlay {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

#overview-request-overlay div {
    font-size: 1em;
}

#overview-request-button {
    background-color: #FFB800;
    padding: 10px;
}


