.site-overview {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.overview-section {
    width: 100%;
    height: min(86vh, calc(100vh - 100px));
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.overview-side {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: min(max(16px, calc(8px + 2vw)), 60px);
}

#overview-logo {
    width: 80%;
}

.welcome-text {
    font-size: 0.6em;
    width: 80%;
}

.overview-header {
    color: inherit;

    width: 80%;
    font-size: 1em;
    text-align: center;
    transition: 0.5s;
}

.overview-header:hover {
    color: #0F62AF;
}

.overview-full-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
